---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <div class="texto">
        <h1>Comunicate con nosotros.</h1>
    </div>
</Layout>
<style>
    .texto {
        text-align: center;
    }
</style>
