---
import Layout from "../layouts/Layout.astro";

const tituloPagina = "Bienvenido a Blog de Ofimática con Samuel Durán"
---

<Layout>
	<main>
		<h1>{tituloPagina}</h1>
		<p>Sitio orientado al aprendizaje de herramientas ofimáticas.</p>
	</main>
</Layout>
<style>
	main{
		padding: 2rem;
		text-align: center;
	}
	h1{
		color: #3245ff;
	}
</style>